<section>
  <div class="vh-100">
    <div class="center-content">
      <div>
        <span class="search-bar-label">Discover your best food & drinks</span>
        <div class="input-group rounded">
          <input type="text" class="form-control rounded" placeholder="Search for restaurant, cuisine or a dish" #enteredValue/>
          <button type="submit" class="input-group-append search-logo" (click)="searchDataMethod(enteredValue.value)">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
  </div>
  </div>
</section>
