<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" routerLink="search-bar"><span style="color: #0a36f9; font-size: 32px; font-weight: bold;">Kitchen</span><span style="color: #fff; font-size: 32px; font-weight: bold;">Story</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto">

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link dining" routerLink="dining">Order Online</a>
          </li>

        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link credential" href="#!">
              <i class="bi bi-person"></i> Sign Up
            </a>
          </li>

          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link credential" href="#!">
              <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
          </li>

          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link credential" routerLink="admin">
              <i class="bi bi-shield-lock-fill"></i> Admin
            </a>
          </li>

          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link srch" routerLink="search-bar">
              <i class="bi bi-search"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <router-outlet></router-outlet>
  
</header>

<footer class="text-center text-white fixed-bottom" style="background-color: #0a4275;">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Design and Developed by : Pawan Kumar (pawannayak35@gmail.com)
  </div>
</footer>
